@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
    --font: "Inter", sans-serif;
    --cor1: #51dc56;
    --color-background: #f4fcf4;
    --cor-texto-dark: #000;
    --cor-texto-light: #f1f1f1;
    --color-model-dark: #2b2d42;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 400;
    background-color: var(--color-background);
    color: var(--cor-texto-dark);
}

.container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    /* border: 4px solid var(--cor1); */
    width: 80%;
    height: 100%;
    gap: 3rem;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-principal {
    gap: 2.5rem;
    width: 60%;
    margin: auto;
    padding: 0 5rem;
}

.form-atividade {
    height: 100%;
    padding: 2rem;
    margin: auto;
}

.input-nome-atividade {
    font-size: 3rem;
    border: none;
    background-color: transparent;
    font-weight: 600;
    outline: none;
    color: var(--cor-texto-light);
}
.input-nome-atividade::placeholder {
    color: var(--cor-texto-light);
    border: none;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    width: 100%;
}

.input-status {
    display: flex;
    flex-direction: row;
}

.input-status label {
    font-size: 1.5rem;
    font-weight: 600;
}

.input-status select {
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 1rem;

    padding: 0.5rem 1rem;
    border-radius: 50px;
    min-width: 10rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-status select option {
    padding: 0.5rem;
    border-radius: 50px;
    min-width: 10rem;
}

.input-descricao label {
    font-size: 1.5rem;
    font-weight: 600;
}

.input-descricao textarea {
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--cor-texto-light);
    font-weight: 600;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    height: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-tarefa {
    padding: 1rem 15px;
    border-radius: 10px;
    border: 4px solid var(--cor1);
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn {
    width: 20rem;
    border: 4px solid var(--cor1);
    border-radius: 10px;
    padding: 1.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    background-color: var(--cor1);
    transition: 400ms;
}

.atividade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    gap: 1rem;
    min-width: 25rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    background-color: var(--color-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    border-radius: 10px;
    cursor: pointer;
    border: 4px solid transparent;
}

.atividade:hover {
    border: 4px solid var(--cor1);
    transition: 400ms;
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: auto;
    padding: 1rem 0;
    gap: 1rem;
}

.tarefa {
    list-style: none;
}

.estado {
    background-color: var(--cor1);
    padding: 0.5rem 0;
    border-radius: 50px;
    min-width: 10rem;
}

.andamento {
    background: #6095fd;
}

.nao.iniciado {
    background: #d9d9d9;
}

.concluido {
    background: #51dc56;
}

.base{
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
}
.modal {
    width: 80vw;
    height: 80vh;
    
    border-radius: 10px;
    color: var(--cor-texto-light);
    background-color: var(--color-model-dark);
    
    position: absolute;
}

.form-atividade .btn {
    color: var(--cor-texto-light);
}

.form-atividade .btn:hover {
    color: var(--cor-texto-dark);
}

.hidden {
    display: none;
    z-index: -10000;
}

.btn-close {
    background-color: transparent;
    border: none;
    color: var(--cor-texto-light);
    font-size: 2.5rem;
    z-index: 101;
    position: absolute;
    right: 2rem;
    top: 1.6rem;
    cursor: pointer;
}

.btn-close:hover {
    color: #d24545;
}
